  .formNote{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .fNote{
    border: solid rgb(0, 238, 255);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: -webkit-fill-available;
  }
  .takeNote input{
    border: none;
    height: 35px;
    outline: none;
    text-align: center;
  }
  .takeNote textarea{
    border: none;
    height: 150px;
    outline: none;
  }
  .buttonNote{
    width: 25%;
    height: 24px;
    margin-top: 12px;
  }