.under{
    background-image: url(../../image/fondoFooter.png);
    height: 14vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -28%;
    position: fixed;
}
.logo{
    margin-top: 20px;
    width: 120px;
    height: 120px;
}
.takes{
    width: 67px;
    margin-bottom: -92px;
}