.footerNotes{
    background-image: url(../../image/fondoFooter.png);
    height: 14vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*position: fixed;*/
    bottom: 0;
}
.logo{
    margin-top: 20px;
    width: 120px;
    height: 120px;
}
